footer {
    background-color: #9772FB;
    margin-top: 30px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    padding-bottom: 200px;
}

.footer__container {
    width: 100%;
    padding: 40px;
}